body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.pelicula {
    display: inline-block;
    width: 200px;
    margin: 20px;
    text-align: center;
}

.pelicula img {
    width: 100%;
    height: auto;
}
