<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 11 Roberto Lopez - Login</title>
    <style type="text/css">
        input {
            background-color: aqua;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

    <h1>Actividad 11: Roberto Lopez</h1>
    <h2>Login:</h2>

    <div id="main">

        <div v-if="!logeado">

            <hr>

            <form @submit.prevent="login">

                <fieldset>

                    <label>Email</label>
                    <input type="email" v-model="email" placeholder="Escribe aquí">
                    <hr>

                    <label>Contraseña</label>
                    <input type="password" v-model="password" placeholder="Escribe aquí">
                    <hr>
                    
                    <button type="submit">Entrar</button>
                </fieldset>
            </form>
            <div v-if="mensaje">{{ mensaje }}</div>
            <hr>
        </div>
        <div v-else>
            <h2>Bienvenido, {{ nombre }}</h2>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

      const { createApp, ref } = Vue;

      createApp({
        setup() {

          const email = ref('');
          const password = ref('');
          const mensaje = ref('');
          const logeado = ref(false);
          const nombre = ref('');

          const login = async () => {
            console.log('Email:', email.value);
            console.log('Contraseña:', password.value);
            
            fetch('usuario11.json')
              .then(resp => {

                if (!resp.ok) {

                  throw new Error('Error al cargar el archivo JSON');
                }

                return resp.json();
              })

              .then(usuarios => {

                const usuarioValido = usuarios

                  .map(usuario => {

                    if (usuario.email === email.value && usuario.password === password.value) {

                      nombre.value = usuario.nombre;

                      return true;
                    }

                    return false;
                  })

                  .includes(true);

                if (usuarioValido) {

                  mensaje.value = 'Bienvenido';
                  logeado.value = true;

                } else {

                  mensaje.value = 'La contraseña o el correo son incorrectos';
                  limpiar();

                }
              })
              .catch(error => {

                mensaje.value = 'Error al obtener los datos de usuario: ' + error.message;
              });
          };

          const limpiar = () => {

            email.value = '';
            password.value = '';
          };

          return {

            email,
            password,
            mensaje,
            logeado,
            nombre,
            login
          };
        }

      }).mount('#main');
      
    </script>
</body>
</html>
